@charset "UTF-8";
html{
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
}
#main ul{
    position: absolute;
    height: 20px;
    width: 5px;
    list-style: none;
    bottom: 80px;
    left: 30px;
}
#main ul li{
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    padding-left: 7px;
    position: relative;
    height: 20px;
}
#main ul li span{
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    /*background: #333;*/
    left: -18px;
    bottom: 17px;
}
#main ul li b{
    position: absolute;
    width: 45px;
    bottom: -10px;
    left: 10px;
}
#main table{
    position: absolute;
    right: 0;
}
#main table tr td{
    text-align: center;
    border: 1px #333 solid;
}
.bt{
    margin: 10px auto;
    width: 1000px;
    height: 50px;
}
.bt button{
    outline: none;
    border:none;
    background: #99EBFF;
    width: 200px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}